* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-div {
    display: flex;
    padding: 20%;
}

#btn-start {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px 20px 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.hide {
    display: none;
}

#game-board {
    display: flex;
    width: 390px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-top: 10%;
}

.square {
    width: 40px;
    height: 40px;
    border: 1px rgba(119, 116, 116, 0.434) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}


.hidden {
    border: 1px rgba(119, 116, 116, 0.434) solid;
    content-visibility: hidden;
}

.right {
    border-right: 3px black solid;
}

.top {
    border-top: 3px black solid;
}

.left {
    border-left: 3px black solid;
}

.bottom {
    border-bottom: 3px black solid;
}

#numbers-menu {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap: 4px;
}

.square-menu {
    width: 40px;
    height: 40px;
    background-color: rgba(216, 211, 211, 0.127);
    color: rgba(69, 69, 248, 0.614);
    font-size: 25px;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-over {
    border: 1px rgb(69, 69, 248) solid;
    color: rgb(21, 21, 246);
}

.number-clicked {
    background-color: rgba(189, 188, 186, 0.378);
    color: rgb(21, 21, 246);
}